.header{
    color:red;
}

.mainContainer{
    width: 1000px;
    height: 500px;
    background-color: #A6A6A6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;
}

.secContainer{
    width: 85%;
    height: 75%;
    background-color: white;
    padding: 20px;
    position: relative;
}

.text1{
    font-size: 22px;
    margin-bottom: 60px;
}

.butGroup{
    display:flex;
    justify-content: flex-end;
    /* margin-top: 30px; */
    position: absolute;
    right:20px;
    bottom:20px;
}

.butBack{
    background-color: #FABE5A;
    width: 90px;
    height: 35px;
    border-radius: 10px;
    margin-right: 10px;
}


.butNext{
    background-color: #FABE5A;
    width: 90px;
    height: 35px;
    border-radius: 10px;
}

.butBack:hover,.butNext:hover{
background-color: #009DDB;
color: #ffffff
}


.scale{
    display:flex;
    flex-direction: row;
    margin-top: 80px
}